* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    color: #ffffff;
    background-color: #0f0f10;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0 15vw;
}

/* Removing underline from anchor tag */
a {
    text-decoration: none;
}

/* Removing disc from unordered list */
li {
    list-style: none;
}

/* Navigation Bar */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin-right: 40px;
    font-weight: 600;
    font-size: 16px;
}

img[alt="beatsLogo"] {
    width: 30px;
    height: 30px;
}
.nav-box {
    display: flex;
    align-items: center;
}

.nav-btn {
    height: 38px;
    width: 100px;
    border-radius: 7px;
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    background-color: #2c2c2e;
}

.main-hero-section {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
}

img[alt="main-image"] {
    width: 230px;
    position: relative;
    top: -240px;
    left: 70px;
}

img[alt="onEar"] {
    width: 300px;
    margin-left: 50px;
}

.main-hero {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}

.main-hero h1 {
    font-size: 40px;
    font-weight: 600px;
    margin: 10px 0px 25px;
}

.main-hero h3 {
    font-size: 15px;
    font-weight: 500px;
    margin-bottom: 25px;
    color: #d2d4d5;
}

.main-hero p {
    font-size: 13px;
    font-weight: normal;
    width: 60%;
    line-height: 24px;
    color: #d2d4d5;
    margin-bottom: 30px;
}

.cart { 
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    width: fit-content;
    background: #1e1e21;
    padding: 10px 25px;
}

img[alt="cartImage"] {
    background-color: transparent;
    width: 15px;
}

.cart p {
    background-color: transparent;
    margin-bottom: 0px;
    font-weight: 700;
}

.cart span {
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
}

/* Logo Section */

.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 50px; */
}

.logo-icon {
    width: 8%;
}

/* Detail Section */
.detail-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.detail {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.product-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img[alt="specs-img"] {
    width: 20%;
    margin-bottom: 20px;
}

.dev-icon {
    width: 13px;
}

.dev-head {
    font-size: 13px;
    font-weight: normal;
    margin: 2px;
}

.dev-para {
    font-size: 9px;
    font-weight: normal;
    margin: 2px;
}

img[alt="specsImg"] {
    width: 60%;
    margin-top: 30px;
}

.box {
    margin: 10px 0px;
}

.product-box2 {
    margin-left: -100px;
}

.product-box3 {
    margin-left: -70px ;
}

.product-box4 {
    padding-left: 55px;
}

/* Hero Section 3 */
.hero-section3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 70px 0px;
}

.case-Image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 35px;
}

.case-Image p {
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
}

img[alt="caseImage1"] {
    width: 42%;
}

img[alt="group"] {
    width: 20px;
    background-color: transparent;
}

.case-info {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
    background: #1e1e21;
    border-radius: 5px;
    padding: 10px 25px;
}

/* Buy Now Section */
.buyNowSection {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #19191a;
    padding: 40px 0px;
    border-radius: 15px;
    gap: 100px;
}

.shop-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #000000;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    margin-top: 20px;
}

.buyNow-head {
    background-color: transparent;
}

.buyNow-head h1 {
    font-size: 20px;
    background-color: transparent;
    margin-bottom: 10px;
}

.buy-para {
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 10px;
    color: #d2d4d5;
}

.shop-icon p {
    font-size: 15px;
}

img[alt="buyHeadphone"] {
    background-color: transparent;
    
}

img[alt="shoppingBag-img"] {
    background-color: transparent;
    width: 20px;
}

/* Product List */
.product-List-Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.product-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 80px;
}

.product {
    display: flex;
    align-items: center;
    width: 170px;
    height: 140px;
    background-color: #1e1e21;
    border-radius: 10px;

}

.productInfo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0px 0px 30px;
    width: fit-content;
    gap: 20px;
    background-color: transparent;
}

img[alt="productLogo-img"] {
    width: 25vw;
}

img[alt="pro-Logo"] {
    width: 100px;
    background-color: transparent;
    position: relative;
    top: -60px;
    left: 36px;
}

.icon-bag {
    background: #0a0a0b;
    border-radius: 8px;
    
}

.icon-bag img {
    width: fit-content;
}

.productInfo p {
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
}

.productInfo span {
    font-size: 11px;
    font-weight: 300;
    background-color: transparent;
}

/* Footer */
footer {
    margin: 100px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}

img[alt="beatsLogo-img"] {
    width: 26px;
}

footer ul li a {
    font-size: 12px;
    color: #d2d4d5;
}

.Footer-head {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

footer ul li:first-child {
    margin-bottom: 10px;
}

/* Footer Subscription */
.footer-subscription {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-subscription div:first-child {
    background: #2c2c2e;
    border-radius: 8px;
    padding: 7px 15px;
    display: flex;
}

.footer-subscription div input{
    border: none;
    background-color: transparent;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
}

.subscribe-btn p {
    font-size: 12px;
    color: #e9edef;
}

img[alt="rightArrow-img"] {
    width: 15px;
}

/* Social Media */
.social-media-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img[alt="upArrow"] {
    position: relative;
    right: -150px;
    scale: 0.8;
}