* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(236, 236, 249);
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 24px;
}

label {
    margin-top: 7px;
}

input {
    padding: 3px 4px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}

.main-container {
    height: auto;
    width: 300px;
    padding: 10px;
    gap: 5px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button {
    width: 80px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    /* background-color: rgb(209, 209, 255); */
    background-color: rgb(223, 223, 255);
    border: 2px solid black;
} 

button:hover {
    background-color: rgb(207, 207, 248);
    transition: background-color 0.3s ease
}
