* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

/* body */
body {
    background-color: #f0f4f5;
}

/* Navigation Bar */
nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 100px;
}

nav div ul li a {
    text-decoration: none;
    color: #000000;
}

nav div ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
}

.rightNav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 80px;
}

/* Hero Section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

main div {
    width: 50%;
}

.leftContent {
    margin-left: 8%;
    position: relative;
}

img[alt="topAngle"] {
    width: 30px;
}

img[alt="botAngle"] {
    width: 30px;
    position: absolute;
    right: 5%;
}

.leftContent h1 {
    font-size: 70px;
}

.leftContent p {
    font-size: 18px;
    margin: 15px 0px;
}

/* Left Content Button */
.leftContent button {
    font-size: 25px;
    font-weight: 600;
    padding: 12px 27px;
    border: none;
    border-radius: 30px;
    background-color: #20bc7e;
    color: #ffffff;
}

/* Background Image */ 
img[alt="stethoScope"] {
    position: absolute;
    width: 80%;
    top: -70px;
    right: -180px;
    z-index: -1;
}

/* Right Content */
.backBox {
    position: absolute;
    right: 0px;
}

img[alt="greenBox"] {
    z-index: -2;
    width: 35%;
    bottom: 30px;
}

img[alt="yellowBox"] {
    width: 30%;
    bottom: 60px;
    z-index: -1;
}

img[alt="doctor"] {
    position: absolute;
    right: 0px;
    height: 90%;
    bottom: 0px;
}

